.navCreate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(148, 148, 148, 0.75);
  padding: 0.35rem 1.5rem 0.35rem 1.5rem;
  padding-left: 0;
  position: relative;
}

.k-logo-create {
  display: none;
  padding: 15px;
  scale: 1.5;
}

.kahoot-logo-create {
  padding: 0;
  scale: 0.8;
}

.nav-main-items-create {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 0;
}

.nav-main-items-create li,
.nav-second-items-create li {
  cursor: pointer;
}

.nav-main-items p {
  margin: 0;
}

.nav-second-items {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.nav-second-items-create p {
  margin: 0;
}

.nav-main-item-create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.themes-button {
  padding: 0.6rem;
  border-radius: 5px;
  background-color: rgb(19, 104, 206);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  gap: 5px;
}
.preview-button {
  padding: 0.6rem;
  border-radius: 5px;
  background: rgb(242, 242, 242);
  color: rgb(51, 51, 51);
  display: flex;
  align-items: center;
  gap: 5px;
}
.exit-button {
  display: grid;
  place-items: center;
  height: 24px;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  background: rgb(242, 242, 242);
  color: rgb(51, 51, 51);
}
.save-button {
  display: grid;
  place-items: center;
  height: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: 5px;
  background-color: rgb(19, 104, 206);
  color: rgb(255, 255, 255);
}
.spacer-bar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 40px;
  width: 1px;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.nav-second-items-create {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10px;
}

.exit-button svg {
  display: none;
}

.save-button svg {
  display: none;
}

@media (width <= 835px) {
  .nav-second-items-create > .upgrade {
    display: none;
  }
}

@media (width <= 715px) {
  .themes-button p {
    display: none;
  }
  .preview-button p {
    display: none;
  }
  .settings p {
    display: none;
  }
}

@media (width <= 500px) {
  .k-logo-create {
    display: block;
  }
  .kahoot-logo-create {
    display: none;
  }
}

@media (width <= 400px) {
  .exit-button p {
    display: none;
  }

  .save-button p {
    display: none;
  }

  .exit-button svg {
    display: block;
  }

  .save-button svg {
    display: block;
  }
}

@media (width <= 350px) {
  .exit-button {
    display: none;
  }
}

.settings-offcanvas {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: pointer;
  backdrop-filter: blur(3px);
  margin: 0;
  padding: 0;
  border: none;
}

.settings-offcanvas-container {
  width: 50dvw;
  height: 80dvh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  z-index: 1000;
  cursor: default;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.settings-offcanvas-container .close-btn {
  position: absolute;
  right: 8px;
  top: 20px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.settings-offcanvas-header {
  width: 100%;
  height: 10%;
  margin: 0;
  text-align: center;
}

.settings-information-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  height: 90%;
}

.settings-input-area {
  gap: 15px;
  width: 100%;
}

.settings-offcanvas-quiz-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.settings-input-area label {
  margin: 0;
}

.settings-input-area input,
.settings-input-area textarea {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.settings-offcanvas-quiz-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.settings-input-area textarea {
  height: 50%;
  resize: none;
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid rgb(153, 153, 153);
}

.settings-input-area textarea:focus {
  border: 1px solid rgb(19, 104, 206);
}

@media (width <= 1200px) {
  .settings-input-area textarea {
    height: 73%;
  }
}

@media (width <= 800px) {
  .settings-offcanvas-container {
    width: 80%;
  }
}
