#create-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.create-main-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
}
.question-tab-main{
    background-color: rgb(242, 242, 242);
    height: 100%;
    width: 15%;
    position: relative;
}
.middle-main{
    background: url(//assets-cdn.kahoot.it/builder/v2/assets/business_default-da04c7ff.jpg) center center / cover no-repeat rgb(242, 242, 242);
    height: 100%;
    width: 65%;
    position: relative;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    max-height: (100% - (2 * clamp(16px, 2vmin, 48px)));
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 15px;
}
.quiz-options-main{
    background-color: rgb(242, 242, 242);
    height: 100%;
    width: 20%;
    position: relative;
}
.question-title input{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -4px 0px 0px inset;
}
.question-title{
    height: 10%;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
.media-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40%;
}
.media-input{
    width: 37%;
    height: 100%;
    padding: 0px 1rem;
    background-color: rgba(250,250,250,0.7);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;

}
.media-input .logo {
    display: flex;
    background-image: url(//assets-cdn.kahoot.it/builder/v2/assets/media-032392f1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 186px;
    height: 74px;
    filter: brightness(0.5);
    margin-block-end: 8px;

    
}
.media-input .plus {
    font-size: 5rem;
}
.answer-btns-container{
    position: relative;
    height: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}
.answer-btn{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255) !important;
}
#red .shape-container{
    background-color: rgb(208, 25, 55);
}
#green .shape-container{
    background-color: rgb(38, 137, 12);
}
#blue .shape-container{
    background-color: rgb(19, 104, 206);
}
#yellow .shape-container{
    background-color: rgb(216, 158, 0);
}
.answer-btn .shape-container{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 100%;
    width: 10%;
}
.answer-btn .shape-container .shape {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    fill: white;
}
.answer-btn .text-input-box {
    width: 100%;
    padding: clamp(8px, 1.2vmin, 16px);
    flex: 1;

}
.answer-btn .text-input-box input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    color: white;
    font-size: 1rem;
}
.red{
    background-color:rgb(208, 25, 55) !important;
}
.blue{
    background-color: rgb(19, 104, 206) !important;  
}
.green{
    background-color: rgb(38, 137, 12) !important;
}
.yellow{
    background-color: rgb(216, 158, 0) !important;
}
.answer-btn .radio-btn {
    width: 10%;
    height: 100%;
}
.answer-btn .radio-btn input[type="checkbox" i]  {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: inherit;
    cursor: pointer;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    border:  10px solid green;
}