@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.navLoggedIn {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(148, 148, 148, 0.75);
  padding: 0.55rem 1.5rem 0.55rem 1.5rem;
  background-color: white;
  width: 100vw;
}

.navbar-logged-in-kahoot-logo {
  width: 4.375rem;
  height: 1.5rem;
  padding: 0;
  z-index: 10;
}

.nav-main-items {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
}

.nav-main-items li,
.nav-second-items li {
  cursor: pointer;
}

.nav-main-items p {
  margin: 0;
}

.nav-second-items {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-second-items p {
  margin: 0;
}

.upgrade {
  display: flex;
  align-items: center;

  color: rgb(2, 130, 130);
  font-weight: 600;

  gap: 5px;
}

.upgrade > span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(2, 130, 130);
}

.upgrade > p {
  margin: 7.5px;
}

.create-button {
  position: relative;
  color: white;
  background-color: #1368ce;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 4rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.create-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  background: #082345;
  transform: translate3d(0, 0.35em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.create-button:hover {
  background: #1368ce;
  transform: translate(0, 0.15em);
}

.create-button:hover::before {
  transform: translate3d(0, 0.2em, -1em);
}

.account-info-logo {
  position: relative;
  box-sizing: border-box;
  background: rgb(134, 76, 191);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.account-info > div > svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-info-menu {
  position: absolute;

  right: 75px;
  bottom: -350px;
  width: 250px;
  height: 310px;
  background: rgb(255, 255, 255);
  border: 0px;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3px;

  padding: 15px;

  flex-direction: column;

  justify-content: start;
  align-items: start;

  gap: 15px;
  cursor: default !important;
  z-index: 1000;
}

.account-info-menu > p {
  font-size: 14px;
  cursor: pointer !important;
}

.account-info-menu > div {
  font-weight: 600;
  cursor: pointer !important;
  margin: 5px 0 5px 0;
}

.account-info-logo-menu-info {
  overflow: hidden !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.account-info-logo-menu-info > span {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  max-width: 150px;
}

.account-info-logo-menu-info > span > h1 {
  font-weight: 600 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-info-logo-menu-info p {
  font-size: 12px;
  font-weight: 500;
}

.account-info-logo-menu {
  position: relative;
  box-sizing: border-box;
  background: rgb(134, 76, 191);
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
}

.account-info-logo-menu > svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-info-menu > .sign-out {
  margin: 0 !important;
}

.notification-bell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.notification-bell > svg {
  width: 18px;
  height: 18px;
}

.notification-bell:hover {
  background-color: #e9e9e9;
}

.nav-main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  min-height: 32px;
}

@media screen and (max-width: 1295px) {
  .nav-main-item span {
    display: none !important;
  }
  .nav-main-item p {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-main-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .marketplaces {
    display: none !important;
  }
}

@media screen and (max-width: 940px) {
  .groups {
    display: none !important;
  }
}

@media screen and (max-width: 830px) {
  .reports {
    display: none !important;
  }
}

@media screen and (max-width: 710px) {
  .nav-main-item {
    display: none !important;
  }
}

.burger-menu-logged-in {
  width: 25px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 15;
}

.create-button-small {
  display: none;
}

.navbar-logged-in-k-logo {
  display: none;
  width: 4.375rem;
  height: 1.5rem;
  padding: 0;
  z-index: 10;
}

@media (width <= 445px) {
  .upgrade p {
    display: none;
  }
  .upgrade-canvas p {
    display: block !important;
  }
}

@media (width <= 340px) {
  .navbar-logged-in-kahoot-logo {
    display: none;
  }
  .navbar-logged-in-k-logo {
    display: block;
  }
}

@media (width <= 1050px) {
  .create-button {
    display: none;
  }
  .create-button-small {
    display: block;
    background-color: rgb(19, 104, 206);
    border-radius: 0.25rem;
  }
}

@media (width <= 942px) {
  .burger-menu-logged-in {
    display: flex;
    z-index: 1000;
  }
  .nav-main-items {
    padding: 0;
  }
}

@media (width <= 396px) {
  .upgrade .not-canvas {
    display: none;
  }
}

.nav-offcanvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: pointer;
}

.visible-canvas {
  left: 0;
}
.hidden-canvas {
  left: -1000%;
}

.nav-offcanvas-inner {
  cursor: default;
  z-index: 2000;
  background: white;
  width: 75%;
  min-width: 300px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}

.close-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  display: flex;
  justify-content: end;
}

.close-btn svg {
  width: 32px;
  height: 32px;
}

.account-info {
  display: flex;
  justify-content: start;
  align-items: center;
}

.account-info .account-info-logo {
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.account-info h1 {
  font-size: 16px;
  font-weight: 900;
}

.break-line {
  width: 100%;
  height: 1px;
  background: rgb(51, 51, 51);
  opacity: 10%;
}

.nav-second-items-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min-content;
  padding: 0;
}

.nav-second-items-list .nav-second-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
}

.upgrade-canvas {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav-second-items-list-other {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 0;
}

.other {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.resoursces {
  cursor: pointer;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.sign-out {
  cursor: pointer;
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: rgb(198, 9, 41);
  font-size: 14px;
}

.selected,
.selected > span > svg > path {
  color: rgb(70, 23, 143);
  fill: rgb(70, 23, 143);
  font-weight: 800 !important;
}

.unselected {
  font-weight: 600 !important;
  color: rgb(51, 51, 51);
  fill: rgb(51, 51, 51);
  position: relative;
}

.unselected:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 100%;
  height: 0px;
  border-width: 0px 2px 3px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
  border-bottom: 4px solid rgb(70, 23, 143);
}

.unselected:hover:after {
  opacity: 1;
}

.selected {
  position: relative;
}

.selected:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0px;
  border-width: 0px 5px 3px;
  border-right-style: solid;
  border-left-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  border-bottom: 3px solid rgb(70, 23, 143);
}
