@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
#nav {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(148, 148, 148, 0.75);
  padding: 0.65rem 1.5rem 0.65rem 1.5rem;
  width: 100vw;
  z-index: 15;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.navItems {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.navMain {
  order: 2;
}

.navItem {
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 0.8;
}

.white-text .navItem {
  color: white;
}

.navItem > a {
  color: inherit;
  text-decoration: none;
}

.white-text .sales {
  border: 1px solid white;
  color: white;
}

.sales {
  border: 1px solid #1368ce;
  border-radius: 5px;
  color: #1368ce;
  padding: 10px;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
}

.sales:hover {
  transition: all 0.15s ease-in-out;
  background-color: #1368ce;
  color: white;
}

.sign-up {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.75rem;
  width: 4rem;
  border-radius: 3.5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.875rem;
  background: #26890c;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  box-shadow: 0px -1px 0px 1px #fff;
  text-align: center;
  color: white;
  font-weight: bold;
}

.sign-up::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  background: #175009;
  transform: translate3d(0, 0.35em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
  box-shadow: 0 0 0 1px #fff;
}

.sign-up:hover {
  background: #26890c;
  transform: translate(0, 0.15em);
}

.sign-up:hover::before {
  transform: translate3d(0, 0.2em, -1em);
}

.white-text .sign-up:hover {
  background-color: #fff;
}

.white-text .sign-up {
  color: black;
  background-color: #fff;
}

.white-text .sign-up::before {
  background-color: #aaa9a9;
}

.white-text .language {
  border: 1px black solid;
  display: grid;
  background-color: white;
  color: black;
}

.language:hover {
  background-color: #aaa9a9;
}

.language {
  position: relative;
  border-radius: 25px;
  border: 1.5px solid black;
  padding: 7.5px 10px 7.5px 10px;
  font-size: 12px;
  font-weight: bold;
  padding-left: 1.75rem;
}

.language::after {
  content: " ";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/globeSvg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.news {
  color: white;
  position: relative;
  background-color: #1368ce;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 4rem;
  border-radius: 4px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.news::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  background: #082345;
  transform: translate3d(0, 0.35em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.news:hover {
  background: #1368ce;
  transform: translate(0, 0.15em);
}

.news:hover::before {
  transform: translate3d(0, 0.2em, -1em);
}

.news .navItemIcon {
  background-image: url(../images/news-icon.svg);
}

.school .navItemIcon {
  background-image: url(../images/school-nav-icon.svg);
}

.work span {
  background-image: url(../images/work-nav-icon.svg);
}

.home span {
  background-image: url(../images/home-nav-icon.svg);
}

.study span {
  background-image: url(../images/study-nav-icon.svg);
}

.academy span {
  background-image: url(../images/academy-nav-icon.svg);
}

.marketplace span {
  background-image: url(../images/marketplace-nav-icon.svg);
}

.navLeft .navItem p > span > ul {
  display: none;
}

.navLeft .navItem p:hover > span > ul,
.navLeft .navItem p > span:hover > ul,
.navLeft .navItem p > span > ul:hover {
  position: absolute;
  left: -60%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: white;
  color: black;
  list-style: none;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-top: 2rem;
  gap: 20px;
  width: 13rem;
  border-radius: 5px;
}

.navLeft .navItem p:hover > span > ul > li:hover {
  color: #46178f;
}

.navLeft li .navItemIcon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 0.9375rem;
  width: 0.9375rem;
  height: 0.9375rem;
  padding: 5px;
  display: inline-block;
}
.navLeft li p {
  text-align: center;
  line-height: 0.8;
  margin: 0;
  position: relative;
  transition: all 0.25s ease-out;
}

.hoverAnim::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #46178f;
  transform-origin: bottom left;
  transition: all 0.25s ease-out;
}
.hoverAnim:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.white-text .hoverAnim::after {
  background-color: #fff;
}

.hoverAnim:hover {
  color: #46178f;
}

.white-text .hoverAnim:hover {
  color: #fff;
}

.navMain li {
  position: relative;
}

.navLeft li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.burger-menu {
  width: 25px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 15;
}

.burger-bar {
  width: 20px;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  margin: 2px;
}

.k-logo {
  display: none;
  z-index: 10;
}

.kahoot-logo {
  width: 4.375rem;
  height: 1.5rem;
  z-index: 10;
}

.navBrandSecond {
  display: none;
  z-index: 10;
}

.purple {
  fill: #46178f;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

#navBrand:hover > svg > g,
#navBrand:hover > svg > g {
  fill: #0693e3;
}

#navBrand:hover {
  cursor: pointer;
}

.white {
  fill: white;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
.canvasMenu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #25076b;
  z-index: 9;
  top: 0;
  left: 0;
  margin-top: 55.969px;
  flex-direction: column;
}

.canvasMenu > ul {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 100%;
}

.canvasMenu > ul > li {
  margin: 15px;
  padding: 0;
  background-color: #46178f;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
}

.canvasMenu > ul > li > h1 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.canvasMenu > ul > li > h1 > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasMenu > ul > li > h1 > span > svg {
  transform: rotate(-90deg);
}

.displayItemContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.canvasMenu > ul > li > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  width: 100%;
  cursor: pointer;
}

@media (width <= 440px) {
  .k-logo {
    display: block;
  }
  .kahoot-logo {
    display: none;
  }
}

@media (width <= 700px) {
  .not-very-important {
    display: none;
  }
}

@media (width <= 382px) {
  .navItem {
    scale: 95%;
  }
  .navItems {
    gap: 15px;
  }
  #nav {
    padding-left: 25px;
    padding-right: 7.5px;
  }
  .burger-menu {
    right: 10px;
  }
}

@media (width <= 370px) {
  .navItem {
    scale: 95%;
  }
  .navItems {
    gap: 15px;
  }
  #nav {
    padding-left: 10px;
    padding-right: 7.5px;
  }
  .burger-menu {
    right: 10px;
  }
}

@media (width <= 350px) {
  .navItem {
    scale: 85%;
  }
  .navItems {
    gap: 5px;
  }
  #nav {
    padding-left: 10px;
    padding-right: 7.5px;
  }
  .burger-menu {
    right: 10px;
  }
}

@media (width <= 1430px) {
  .burger-menu {
    display: flex;
  }
  .navLeft {
    display: none;
  }

  .clicked {
    background-color: white;
  }

  .hidden {
    transition: transform 0.15s ease-in-out;
    transform: translateX(5000px) !important;
  }

  .visible {
    transition: transform 0.15s ease-in-out;
    transform: translateX(0) !important;
  }

  .navMain {
    margin-right: 35px;
  }

  .navBrandSecond {
    display: block;
  }

  .canvasMenu {
    display: flex;
    transform: translateX(5000px);
  }
}
