@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.navLoggedIn {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 5px 0px rgba(148, 148, 148, 0.75);
  padding: 0.65rem 1.5rem 0.65rem 1.5rem;
  background-color: white;
  width: 100vw;
}

.navbar-logged-in-kahoot-logo {
  width: 4.375rem;
  height: 1.5rem;
  padding: 0;
  z-index: 10;
}

.nav-main-items {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
}

.nav-main-items li,
.nav-second-items li {
  cursor: pointer;
}

.nav-main-items p {
  margin: 0;
}

.nav-second-items {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-second-items p {
  margin: 0;
}

.upgrade {
  display: flex;
  align-items: center;

  color: rgb(2, 130, 130);
  font-weight: 600;

  gap: 5px;
}

.upgrade > span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(2, 130, 130);
}

.upgrade > p {
  margin: 7.5px;
}

.create-button {
  position: relative;
  color: white;
  background-color: #1368ce;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 4rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.create-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  background: #082345;
  transform: translate3d(0, 0.35em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.create-button:hover {
  background: #1368ce;
  transform: translate(0, 0.15em);
}

.create-button:hover::before {
  transform: translate3d(0, 0.2em, -1em);
}

.account-info > div {
  position: relative;
  box-sizing: border-box;
  background: rgb(134, 76, 191);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.account-info > div > svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-bell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.notification-bell > svg {
  width: 18px;
  height: 18px;
}

.notification-bell:hover {
  background-color: #e9e9e9;
}

.nav-main-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

@media (width <= 1425px) {
  .nav-main-item span {
    display: none !important;
  }
}

.burger-menu-logged-in {
  width: 25px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  z-index: 15;
  margin-left: 20px;
}

.create-button-small {
  display: none;
}
@media (width <= 1050px) {
  .create-button {
    display: none;
  }
  .create-button-small {
    display: block;
    background-color: rgb(19, 104, 206);
    border-radius: 0.25rem;
  }
}

@media (width <= 980px) {
  .upgrade {
    display: none;
  }
}

@media (width <= 942px) {
  .burger-menu-logged-in {
    display: flex;
    z-index: 1000;
  }
  .nav-main-items {
    padding: 0;
  }
  .nav-main-item {
    display: none !important;
  }
}

@media (width <= 396px) {
  .upgrade p {
    display: none;
  }
}

.nav-offcanvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: pointer;
}

.visible-canvas {
  left: 0;
}
.hidden-canvas {
  left: -1000%;
}

.nav-offcanvas-inner {
  cursor: default;
  z-index: 2000;
  background: white;
  width: 35%;
  min-width: 250px;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}

.close-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  display: flex;
  justify-content: end;
}

.close-btn svg {
  width: 32px;
  height: 32px;
}

.account-info {
  display: flex;
  justify-content: start;
  align-items: center;
}

.account-info div {
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.account-info h1 {
  font-size: 16px;
  font-weight: 900;
}

.break-line {
  width: 100%;
  height: 1px;
  background: rgb(51, 51, 51);
  opacity: 10%;
}

.nav-second-items-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: min-content;
  padding: 0;
}

.nav-second-items-list .nav-second-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 700;
}

.upgrade-canvas {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav-second-items-list-other {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 0;
}

.other {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.resoursces {
  cursor: pointer;
  color: black;
  font-weight: 900;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.sign-out {
  cursor: pointer;
  margin-bottom: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: rgb(198, 9, 41);
  font-size: 14px;
}

.selected,
.selected > span > svg > path {
  color: rgb(70, 23, 143);
  fill: rgb(70, 23, 143);
  font-weight: 800 !important;
}

.unselected {
  font-weight: 600 !important;
  color: rgb(51, 51, 51);
  fill: rgb(51, 51, 51);
}
